.header {
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(#ffeb99, #ffd633);
  font-family: comic;
  color: black;
  font-size: 25px;
  text-align: center;
  border: none;
}

#headertext {
  animation-name: sway;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.paragraph {
  width: 600px;
  font-family: comic;
  color: black;
  font-size: 25px;
  text-align: center;
}

#randomnum {
  width: 200px;
  padding: 10px;
  font-family: comic;
  font-size: 25px;
  border-radius: 5px;
  text-align: center;
  background: linear-gradient(#b3ffb3, #4dff4d);
  border: none;
}

#button293 {
  width: 300px;
  padding: 10px;
  font-family: comic;
  font-size: 25px;
  border-radius: 5px;
  text-align: center;
  background: linear-gradient(#ff8080, #ff4d4d);
  border: none;
}

@keyframes sway {
  from {
  transform: rotate(-5deg);}
  to {
  transform: rotate(5deg);}
}

@font-face { 
    font-family: comic; src: url('./COMIC.ttf'); 
}
