.header {
  padding: 20px;
  background: linear-gradient(#ffeb99, #ffd633);
  font-family: comic;
  color: black;
  font-size: 25px;
  text-align: center;
  border: none;
}

.grayheader {
  padding: 10px;
  background-color: #202020;
  font-family: comic;
  color: white;
  font-size: 25px;
  text-align: center;
  border: none;
  width: 100%;
  position: absolute; 
}


.roundcorner {
  border-radius: 20px;
}

.header2 {
  margin: 0;
  padding: 5px;
  position: absolute;
  width: 100%;
  background: linear-gradient(#ffeb99, #ffd633);
  font-family: comic;
  color: black;
  font-size: 20px;
  text-align: center;
  border: none;
}

.colorpick {
  position: absolute;
  bottom: 0;
  right: 0;
}

#canvas {
  width: 100%;
  height: 100%;
	padding: 0px;
  z-index: -9;
	cursor: crosshair;
}
.randomform {
  padding: 10px;
  text-align: center;
  border: none;
}

#SEQ {
  border-color: #737373;
  border-style: solid;
  border-width: 5px;
  padding: 10px;
  font-family: ssmbook;
  font-size: 35px;
  border-radius: 10px;
  text-align: center;
}

#goto {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  font-size: 25px;
  font-family: comic;
  background: linear-gradient(#b3ffb3, #4dff4d);
  text-align: center;
  border: none;
  float: none;
  margin-top: 10px;
}


#code {
  width: 25%;
  padding: 10px;
  border-radius: 5px;
  font-size: 150%;
  font-family: comic;
  background: linear-gradient(#ff8080, #ff4d4d);
  text-align: center;
  border: none;
  float: none;
  margin-top: 10px;
}

#colorpicker {
  width: 100px;
  position: absolute;
  height: 100px;
  bottom: 0;
  left: 0;
  margin: 10px;
  border-color: #737373;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  text-align: center;
}

#divide {
	padding: 20px;
	font-family: ssmbook;
	font-size: 30px;
}

#number {
  font-family: comic;
  font-size: 60px;
  text-align: center;
  border: none;
}

#strings {
  font-family: comic;
  font-size: 60px;
  text-align: center;
  border: none;
}

#randomizer {
  width: -50%;
  padding: 10px;
  font-family: comic;
  font-size: 25px;
  border-radius: 5px;
  text-align: center;
  background: linear-gradient(#b3ffb3, #4dff4d);
  border: none;
}

#iframecontainer {
  border: none;
  position: absolute;
  z-index: -10000;
}

#wip {
  width: 100%;
  height: auto;
}
#MIN {
  width: 150px;
  border-color: #737373;
  border-style: solid;
  border-width: 5px;
  padding: 10px;
  font-family: ssmbook;
  font-size: 40px;
  border-radius: 10px;
  text-align: center;
}

#jsLoader {
  margin-left: 10px;
  border-color: #737373;
  background-color: #404040;
  border-style: solid;
  border-width: 5px;
  padding: 10px;
  float: left;
  color: #ffffff;
  font-family: ssmbook;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
}

#PAGE {
  width: 100%;
  border-color: #737373;
  border-style: solid;
  border-width: 5px;
  padding: 10px;
  font-family: ssmbook;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
}

#MAX {
  width: 150px;
  border-color: #737373;
  border-style: solid;
  border-width: 5px;
  padding: 10px;
  font-family: ssmbook;
  font-size: 40px;
  border-radius: 10px;
  text-align: center;
}

#headertext2 {
  padding: 10px;
  background-color: Transparent;
  font-family: comic;
  color: black;
  font-size: 20px;
  text-align: center;
  border: none;
  
  animation-name: sway;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

#swaylessheader{
  font-size: 40px;
  background-color: Transparent;
  font-family: comic;
  color: white;
  text-align: center;
  float: left;
  border: none;
}

#headertext {
  padding: 10px;
  font-size: 40px;
  background-color: Transparent;
  font-family: comic;
  color: black;
  text-align: center;
  border: none;

  animation-name: sway;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.paragraph {
  font-family: comic;
  color: black;
  padding: 10px;
  background: #e4e4e4;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
}

.bg {
  width: 100%; 
  height: 100%;
  position: fixed;
  top: 0;
  margin: 0;
  left: 0;
}

.left {
  width: 65%;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.main {
  z-index: 9;
  width: 100%;
  position: relative;
}
.extra1 {
  z-index: 9;
  width: 100%;
}
.right {
  float: left;
  width: 30%;
  margin-top: 20px;
  background: #e4e4e4;
  border-radius: 10px;
  padding: 10px;
}

#randomnum {
  width: -50%;
  padding: 10px;
  margin-top: 10px;
  font-family: comic;
  font-size: 25px;
  border-radius: 5px;
  text-align: center;
  background: linear-gradient(#b3ffb3, #4dff4d);
  border: none;
}

#randomsent {
  width: 300px;
  padding: 10px;
  font-family: comic;
  font-size: 25px;
  border-radius: 5px;
  text-align: center;
  background: linear-gradient(#ff8080, #ff4d4d);
  border: none;
}

@keyframes sway {
  from {
  transform: rotate(-5deg);}
  to {
  transform: rotate(5deg)}
}

@font-face { 
    font-family: comic; src: url('./COMIC.TTF'); 
}

@font-face { 
    font-family: ssmbook; src: url('./GothamSSm-Book.otf'); 
}

@media only screen and (max-width: 1000px) {
  #code {
    display: none;
  }
  #goto {
    width: 100%;
  }
}
@media only screen and (max-width: 812px) {
  .right {
    display: none;
    float: none;
  }
  .left {
    float: none;
    width: 100%;
  }
  .main {
    width: 100%;
    float: none;
  }
  .jsLoader {
    width: 100%;
    float: none;
  }
}